/* .img {
  background: url("https://images.unsplash.com/photo-1534398079543-7ae6d016b86a?ixlib=rb-1.2.1&auto=format&fit=crop&w=2050&q=80") no-repeat center center fixed;
  height: 900px;
  margin-top: auto;
} */

/* .hero {
  align-items: center;
  background-size: auto;
  display: flex;
  height: 900px;
  justify-content: center;
} */
