table {
  border-collapse: separate;
  border: solid thin #005B93;
  border-spacing: 0 0.5rem;
  padding: 0.5rem;
}

th {
  text-align: left;
  text-decoration: underline;
}

th:last-child {
  text-align: center;
}

td {
  border-bottom: solid thin #005B93;
}

.fave {
  text-align: center;
}
