table {
  border: solid thin blue;
  border-spacing: 4rem;
  margin: 46rem;
}

th {
  text-align: left;
  text-decoration: underline;
}

tbody td {
  border-bottom: solid thin #333;
}

.fave {
  text-align: center;
}
