.form {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 5px;
  max-width: 1px;
  padding: 0;
  background-color: aquamarine;
}

.form label {
  position: absolute;
  top: -9999px;
  left: -9999px;
  margin-top: 80px;
  margin-left: 15vw;
  background-color: #D5CABD;
}

.form button {
  margin-top: 7vh;
  margin-left: 26vw;
  background: orange;
}
