nav ul {
  display: flex;
  background-color: #BEA6A0;
  justify-content: space-evenly;
  width: 78vw;
  height: 12vh;
}

a {
  text-decoration: none;
  display: block;
  padding: 30px;
  color: #005B93;
}

a {
  display: block;
  padding: 30px;
}

.isActiveLink:hover {
  color: #005B93;
}

